/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_4d0601f7e6d953bfd59d1685c43e3c91.eot");
  src: url("./fontcustom_4d0601f7e6d953bfd59d1685c43e3c91.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_4d0601f7e6d953bfd59d1685c43e3c91.woff") format("woff"),
       url("./fontcustom_4d0601f7e6d953bfd59d1685c43e3c91.ttf") format("truetype"),
       url("./fontcustom_4d0601f7e6d953bfd59d1685c43e3c91.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_4d0601f7e6d953bfd59d1685c43e3c91.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-brush:before,
.icon-bulb:before,
.icon-cleaner:before,
.icon-cutter:before,
.icon-masonry:before,
.icon-pc:before,
.icon-sofa:before,
.icon-tap:before,
.icon-toolbox:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-brush:before { content: "\f100"; }
.icon-bulb:before { content: "\f101"; }
.icon-cleaner:before { content: "\f102"; }
.icon-cutter:before { content: "\f103"; }
.icon-masonry:before { content: "\f104"; }
.icon-pc:before { content: "\f105"; }
.icon-sofa:before { content: "\f106"; }
.icon-tap:before { content: "\f107"; }
.icon-toolbox:before { content: "\f108"; }
