
body {
	font-size:13px;background-color:#F4F2F5;overflow-x:hidden;
}
body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Arial', sans-serif;
	font-weight:300;
	color:#757575;
}

h1{font-size:35px;}
h2{font-size:26px;}
h3{font-size:22px; margin-top:35px;}
h4{font-size:18px;}
h5{font-size:15px;}
p{line-height:1.8em;}
label {font-weight: 300 !important;color:#9e9e9e;}
a:focus {
	outline:0; /*removes the dotted border*/
}
/* ============================== bootstrap css ovewrite for app ================================ */
.repladLogo {
  display: block;
  text-indent: -9999px;
  width: 400px;
  height: 55px;
  background: url("../images/logo/logo3.svg");
  background-size:400px 55px;
}

.supportInfo{float:right; border-right:2px solid #FFF120;padding:10px 15px 0px;}
.loginSec {padding: 16px 25px 0 0;text-align: right;}
.supportInfo p {font-weight:bold;}
.headingBanner{color:#FFF120; margin-top:5px;font-size:2.5rem;font-family: robotobold;}
.shadow{text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);}
.serviceCategory{
	background:url(../images/house3.png);
	background-repeat: repeat-x;
	padding: 80px 0 40px 0;
	background-size:100% 100%;
	position: relative;
}

#color-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: black;
   opacity: 0.8;
}
/* .serviceCategory:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.8s;
  opacity: 0;
  background: url(http://lorempixel.com/300/200);
  background-size: 100% 100%;
}
.serviceCategory:hover:before {
  opacity: 0.8;
} */

.serviceBox{
	height:80px; 
	background-color: #FFF120;
	text-align:right; 
	color:#fff; 
	cursor:pointer;
}
.serviceBox span{font-size: 2rem;text-align: right;float: right;padding:10px 10px;margin: 15px 10px;  font-family: "robotoregular", Arial, sans-serif;}
#searchBox {width: 100%;border-radius: 4px 0 0 4px;height: 45px;font-size: 16px;  padding: 10px;}
@media (min-width:992px) {
	.categorySec .serviceBox{
		width: 32.6%;
	}
}
@media (min-width: 1200px) {
	#searchBox{
		width:100%;
	}
	.input-group{
		width: 100%;
	}
}
@media(min-width:768px){
	.categorySec .serviceBox{
		width: 32.4%;
	}
}
@media(max-width:767px){
	.categorySec .serviceBox{
		width: 100%;
	}
	/* .repladLogo{
		width: 30%;
		background-size: 100%;
	} */
	
}
.searchIcon{background:#fff;}
.tap{background-image: url("../images/tap.png");background-repeat: no-repeat;background-position: 22px 22px;}
.sofa{background-image: url("../images/sofa.png");background-repeat: no-repeat;background-position: 22px 22px;}
.pc{background-image: url("../images/pc.png");background-repeat: no-repeat;background-position: 22px 22px;}
.cutter{background-image: url("../images/cutter.png");background-repeat: no-repeat;background-position: 22px 22px;}
.appl{background-image: url("../images/appl.png");background-repeat: no-repeat;background-position: 22px 22px;}
.paint{background-image: url("../images/paint.png");background-repeat: no-repeat;background-position: 22px 22px;}
.massonary{background-image: url("../images/massonary.png");background-repeat: no-repeat;background-position: 22px 22px;}
.bulb{background-image: url("../images/bulb.png");background-repeat: no-repeat;background-position: 22px 22px;}
.cleaning{background-image: url("../images/cleaning.png");background-repeat: no-repeat;background-position: 22px 22px;}